// Place all the styles related to the Font controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-field {
  border-style: solid;
  height: 300px;
}

.font-container {
  margin-left: 10%;
}

.font-filter {
  height: 600px;
}
