<div class="font-container">
  <div class="row">

    <div class="col-xs-7">
      <div>
        <div class="row">
          <div class="input-field">
            <input type="text-area" class="text-area" name="" value="" placeholder="Header Text">
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="text-area" class="text-area" name="" value="" placeholder="Body Text">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 input-field font-filter">
      <p>Field 3<br><br></p>
    </div>
  </div>
</div>
